dash==2.17.1
dash-bootstrap-components==1.6.0
plotly
pandas
numpy
flask-caching
redis
cachetools
orjson
pyarrow
python-dotenv
gunicorn; platform_system != "Windows"
waitress; platform_system == "Windows"
scikit-learn
statsmodels
pytest
pytest-mock
